<app-navbar></app-navbar>
<div class="container">

  <div class="alert alert-success" *ngIf="orderSubmitted" role="alert">
    Thank you! Your order was successfully submitted!
  </div>

  <h1 class="display-4 pt-5 mb-0">Order</h1>
  <hr class="mt-0 mb-5 bg-dark">

  <div class="shadow p-3 mb-5 bg-white rounded">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of orderLines">
          <td><img src="data:image/jpeg;base64,{{ e.product.picByte }}" width="100" alt="image"></td>
          <td>{{ e.product.price }}</td>
          <td>{{ e.quantity }}</td>
          <td>{{ e.product.price * e.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 ml-auto mb-4">
        <p class="h3">Cart totals</p>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ml-auto">
        <label for="total"><b>TOTAL :</b><b> {{ total }}.00 $</b></label>
        <hr class="mt-0 mb-5 bg-dark">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ml-auto">
        <button type="button" class="btn btn-success" (click)="submitOrder()">Submit Order</button>

      </div>
    </div>
  </div>

</div>