<app-navbar></app-navbar>
<div class="container">

  <h1 class="display-4 pt-5 mb-0">Order</h1>
  <hr class="mt-0 mb-5 bg-dark">

  <div class="shadow p-3 mb-5 bg-white rounded">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th> <!-- image -->
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 ml-auto mb-4">
        <p class="h3">Cart totals</p>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ml-auto">
        <label for="total"><b>TOTAL :</b></label>
        <hr class="mt-0 mb-5 bg-dark">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ml-auto">
        <button type="button" class="btn btn-success">Submit Order</button>

      </div>
    </div>
  </div>

</div>