<app-navbar></app-navbar>
<div class="container">
    <h1 class="display-4 pt-5 mb-0">Manage products</h1>
    <hr class="mt-0 mb-3 bg-dark">
    <div class="d-flex p-2 bd-highlight mb-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveProduct">Add
            product</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Designation</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Stock Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <th scope="row">
                    <img src="data:image/jpeg;base64,{{ p.picByte }}" width="100" alt="image">
                </th>
                <td>{{p.reference}}</td>
                <td>{{p.designation}}</td>
                <td>{{p.description}}</td>
                <td>{{p.price}}</td>
                <td>{{p.stockQuantity}}</td>
                <td>
                    <button type="button" class="btn btn-info mr-1" data-toggle="modal" data-target="#showProduct"
                        (click)="onShowDetails(p)">Show details</button>
                    <button type="button" class="btn btn-warning mr-1" data-toggle="modal" data-target="#editProduct"
                        (click)="onClickEdit(p)">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Save product Modal -->
<div class="modal fade" id="saveProduct" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form [formGroup]="productForm" (ngSubmit)="save()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Reference</label>
                            <input type="text" formControlName="reference" class="form-control" id="inputReference" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Designation</label>
                            <input type="text" formControlName="designation" class="form-control" id="inputDesignation">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFullname">Description</label>
                        <input type="text" formControlName="description" class="form-control" id="inputDescription" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Price</label>
                        <input type="number" formControlName="price" class="form-control" id="inputPrice" />
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Stock Quantity</label>
                        <input type="number" formControlName="stockQuantity" class="form-control"
                            id="inputStockQuantity" />
                    </div>

                    <div class="form-group">
                        <input type="file" (change)="onFileChanged($event)">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" [disabled]="productForm.invalid">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Edit product Modal -->
<div class="modal fade" id="editProduct" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form #editForm="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <img src="data:image/jpeg;base64,{{ editProduct.picByte }}" alt="..."
                            class="col-sm mb-1 img-thumbnail">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Reference</label>
                            <input type="text" ngModel="{{editProduct?.reference}}" name="reference"
                                class="form-control" id="inputReference" />
                            <input type="hidden" ngModel="{{editProduct?.idProduct}}" name="idProduct" class="form-control"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Designation</label>
                            <input type="text" ngModel="{{editProduct?.designation}}" class="form-control"
                                name="designation" id="inputDesignation">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFullname">Description</label>
                        <input type="text" ngModel="{{editProduct?.description}}" name="description" class="form-control"
                            id="inputDescription" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Price</label>
                        <input type="number" ngModel="{{editProduct?.price}}" name="price" class="form-control"
                            id="inputPrice" />
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Stock Quantity</label>
                        <input type="number" class="form-control" ngModel="{{editProduct?.stockQuantity}}"
                            name="stockQuantity" id="inputStockQuantity" />
                    </div>

                    <div class="form-group">
                        <input type="file" (change)="onFileChanged($event)">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning" (click)="update(editForm.value)">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Show product details Modal -->
<div class="modal fade" id="showProduct" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Detail product : {{detailProduct.designation}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <img src="data:image/jpeg;base64,{{ detailProduct.picByte }}" alt="..."
                            class="col-sm mb-1 img-thumbnail">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Reference</label>
                            <input type="text" value={{detailProduct.reference}} class="form-control"
                                name="reference" />
                            <input type="hidden" value={{detailProduct.idProduct}} name="id" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Designation</label>
                            <input type="text" value={{detailProduct.designation}} class="form-control"
                                name="designation">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFullname">Description</label>
                        <input type="text" value={{detailProduct.description}} name="description"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Price</label>
                        <input type="number" value={{detailProduct.price}} name="price" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Stock Quantity</label>
                        <input type="number" class="form-control" value={{detailProduct.stockQuantity}}
                            name="stockQuantity" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>