<app-navbar></app-navbar>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="container">
    <i class="fa fa-cart"></i>
    <h1 class="display-4 pt-5 mb-0">Products</h1>
    <hr class="mt-0 mb-5 bg-dark">

    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="d-flex p-2 bd-highlight">

            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </div>





    <div class="rounded shadow bg-white p-5">
        <!--<div class="row">
            <div class="col-12 d-flex">
                <h2 class="font-weight-light"><i class="fa fa-sticky-note"></i> Posts</h2>
                <button class="btn btn-primary ml-auto" type="button" (click)="resetForm()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>-->
        <div class="row">
            <!--
<div class="col-lg-6" *ngFor="let post of posts" style="margin: 5px 0;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        
                        <p>{{post.content}}</p>
                        <a [routerLink]="[ '/post', post.id ]" class="card-link">Read more...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created on {{ post.createdOn }}</small>
                    </div>
                </div>
            </div>
            -->
            <div class="card-deck">
                <div class="col-lg-6" *ngFor="let product of arrayOfProducts" style="margin: 10px 0;">
                    <div class="card">
                        <img src={{product.imgUrl}} alt="..." class="img-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#detailsProductModal">
                                View details</button>

                            <!--<button type="button" class="btn btn-success" style="float: right;">Add to cart</button>-->
                        </div>
                        <button type="button" class="btn btn-success">
                            Add to cart</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Product name</h5>
                <img src="https://guesseu.scene7.com/is/image/GuessEU/AW6308VIS03-SAP?wid=700&amp;fmt=jpeg&amp;qlt=80&amp;op_sharpen=0&amp;op_usm=1.0,1.0,5,0&amp;iccEmbed=0"
                    alt="..." class="img-thumbnail">
                <hr>
                <h5>Description : </h5>
                <p>Description product </p>
                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <h5>Price : </h5>
                        <p>Price product </p>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <h5>Reference : </h5>
                        <p>Reference product </p>
                    </div>
                </div>
                <hr>
                <form>
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Quantity : </h5>
                            <select id="inputQuantity" class="form-control">
                                <option selected>Choose...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Buy</button>
            </div>
        </div>
    </div>
</div>